<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FormatFileName" value="MMddyyyyHHmmssfff" />
		<add key="FileName" value="Empresa" />
		<add key="localFile" value="C:\Prova_Prismatec\" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>

